[
{busytone, [
	{reach_host, "172.17.0.1"},
	{reach_port, 8937},
	{freeswitch_drone, "agents@agents.ezuce"},
	{freeswitch_tmpl, "sofia/gateway/reach/~s" },
	{admin_user, {<<"kamailio.ezuce">>, <<"agent1">>, <<"1234">>}}
]},

{lager, [
	{handlers, [
		{lager_console_backend, [
			{level, info},
			{formatter, lager_default_formatter},
			{formatter_config, [date, " ", time, " ", pid, " ", color, severity, " ", {module,[module],""}, {line,[".",line," "],""}, "\e[0m", message, "\n"]}
		]},
		{lager_file_backend, [
			{file, "log/debug.log"},
			{level, debug},
			{formatter, lager_default_formatter},
			{formatter_config, [date, " ", time, " ", pid, " ", severity, " ", {module,[module],""}, {line,[".",line," "],""}, message, "\n"]}
		]}
	]},
	{colored, true},
	{error_logger_hwm, 5000}
]},

{fs_sync, [
	{fallback_handler, "../../../../fallback.sh"}
]}

].
