[
{busytone, [
	{reach_host, "172.17.0.1"},
	{reach_port, 8937},
	{freeswitch_drone, "agents@agents.ezuce"},
	{agents, [
		{agent, "agent1", "1234", "1001"},
		{agent, "agent2", "1234", "1002"},
		{agent, "agent3", "1234", "1003"}
	]}
]},

{lager, [
	{handlers, [
		{lager_console_backend, [
			{level, info},
			{formatter, lager_default_formatter},
			{formatter_config, [date, " ", time, " ", color, severity, " ", {module,[module],""}, {line,[".",line," "],""}, "\e[0m", message, "\n"]}
		]}
	]},
	{colored, true},
	{error_logger_hwm, 5000}
]}

].
